m4/
.libs/
autom4te.cache
btreeLog.txt   
config.h       
config.status  
depcomp        
libchisql.la   
ltmain.sh      
stamp-h1
aclocal.m4     
chidb          
config.h.in    
config.sub     
libsimclist.la 
m4             
tags      
Makefile.in    
compile        
config.h.in~   
configure      
install-sh     
libtool        
missing        
test-driver                   
autom4te.cache 
config.guess   
config.log        
libchidb.la    
log.txt        
test-suite.log